127.0.0.1 localhost
::1   localhost ip6-localhost ip6-loopback
fe00::0   ip6-localnet
ff00::0   ip6-mcastprefix
ff02::1   ip6-allnodes
ff02::2   ip6-allrouters

127.0.1.1 {{ pi_hostname }}

{{ default_gateway_ip }} {{ default_gateway_name }}
{% for mac_address in mac_address_mapping %}
{{ mac_address_mapping[mac_address].ip }} {{ mac_address_mapping[mac_address].name }}
{% endfor %}

